*{
    margin: 0px;
    padding: 0px;
    /* font-family: cursive; */
    box-sizing: border-box;
}

.empty-input {
    background-color: black;
}


.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}




.todo-app{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius:10px; 
    
}


.todo-app h2{
    color:#002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 0px;
    margin-bottom: 25px;
    width: 460px;
    
}


input{
    flex: 1;
    border: none;
    outline: none;
    background:transparent;
    padding:10px;
}


button{
    border: none;
    outline: none;
    padding: 10px 30px;
    background: lightblue;
    cursor: pointer;
}


ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color:yellow;
}




ul li::before{
    content: " ";
    position: absolute;
    height: 28px;
    width: 28px; 
    border-radius: 50px; 
    background-size: cover;
    background-position: center;
     top: 12px;
    left: 8px;
     
} 


ul li.checked{
    color: #555;
    text-decoration: line-through;
    background-color: orange;
    
    
}


ul li.checked::before{
    background-image:url("https://cdn.iconscout.com/icon/free/png-256/free-check-1780563-1514439.png") ;
    
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;

}


/* ul li span:hover{
    background: #edeef0;
} */
